* {
    margin: 0;
    padding: 0;
}

.header{
    background-image: url(./img/body-bg.png);
}

.image-tel{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

.list-tel{
    display: flex;
    position: absolute;
    margin: auto;
    margin-top: 20px;
    left: 50%;
    margin-left: -475px;
}

.list{
    border: 1px solid #ccc;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    background-color: #ccc;
}

.list:active{
    background-color: grey;
}

a{
    text-decoration: none;
    color: black;
}
